on: [push]
jobs:
  build_latex:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: install dependencies
        run: |
          brew install mactex-no-gui
          eval "$(/usr/libexec/path_helper)"
          echo "/Library/TeX/texbin" >> $GITHUB_PATH
      - name: build latex
        run: |
          cd src
          latexmk -f --interaction=nonstopmode
      - name: upload pdf
        uses: actions/upload-artifact@v6
        with:
          name: PDF
          path: src/build/main.pdf

